<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

   <style>
    /* Make video fill the screen */
    #bg-video {
      position: fixed;
      top: 0;
      left: 0;
      min-width: 100%;
      min-height: 100%;
      z-index: -1;
      object-fit: cover;
    }
  </style>

  <body>

    <!-- Background video -->
    <video autoplay muted loop id="bg-video">
      <source src="{{ site.baseurl }}/assets/video/background.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>

    {% include header.html %}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {% include footer.html %}
    {% include javascripts.html %}
    {% include analytics.html %}
  </body>

</html>
