<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{% include head.html %}

<body>

  {% include header.html %}

  <main class="page-content" aria-label="Content">
    <div class="wrapper">
      <video autoplay muted loop class="bg_video">
        <source src="{{site.baseurl}}/assets/video/{{ site.video }}" type="video/mp4">
      </video>
      {{ content }}
    </div>
  </main>

  {% include footer.html %}
  {% include javascripts.html %}
  {% include analytics.html %}
</body>

</html>