---
layout: default
---

<div class="home">
  <div class="page-heading">
    <h2 class="page-title">About me</h2>
  </div>
  <div class="about">
    <div class="container-face">
      <img class="face" src="{{site.baseurl}}/assets/img/{{ site.pic }}" alt="">
    </div>
    <h2 class="tagline">{{site.tagline}}</h2>
    <div class="about-description">
      <p>{{site.about-description}}</p>
    </div>
    <div class="contact-contaiver">
      <ul class="contact-list">
        <li class="email"><a href="mailto:{{site.email}}"><i class="fa fa-envelope-o"></i> {{site.email}}</a></li>
        <li class="website"><a href="http://viktorarsovski.xyz" target="_blank"><i class="fa fa-globe" aria-hidden="true"></i> viktorarsovski.xyz</a></li>
        <li class="linkedin"><a href="https://in.linkedin.com/in/{{site.linkedin}}" target="_blank"><i class="fa fa-linkedin"></i> linkedin.com/in/{{site.linkedin}}</a></li>
        <li class="github"><a href="http://github.com/{{site.github}}" target="_blank"><i class="fa fa-github"></i> github.com/{{site.github}}</a></li>
<li class="twitter"><a href="https://medium.com/{{site.medium}}" target="_blank"><i class="fa fa-medium"></i> medium/{{site.medium}}</a></li>

        {% if site.stackoverflow %}
          <li class="stackoverflow"><a href="https://stackoverflow.com/{{site.stackoverflow}}" target="_blank"><i class="fa fa-stack-overflow"></i> stackoverflow/viksaaskool</a></li>
        {% else %}
          <li class="stackoverflow"><a href="https://stackoverflow.com/users/1036120/viksaaskool" target="_blank"><i class="fa fa-stack-overflow" aria-hidden="true"></i> stackoverflow/viksaaskool</a></li>
        {% endif %}

      </ul>
    </div>
  </div>
</div>
